[Unit]
Description=Caelestia Shell
PartOf=graphical-session.target
After=wayland-wm@hyprland.desktop.service
Before=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/caelestia shell
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical-session.target
