[Unit]
Description=Hyprland autostart: Apple Music
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hyprctl dispatch exec "[workspace 4 silent] uwsm app -- /usr/lib64/trivalent/trivalent.sh --profile-directory=Default --app-id=blgdilankhbcpipclgpdndahbehalgkh"

[Install]
WantedBy=graphical-session.target
