[Unit]
Description=Hyprland autostart: Kite
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- kitty --class=kite kite

[Install]
WantedBy=graphical-session.target
