[Unit]
Description=Hyprland autostart: Kitty WTF
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- kitty --class=kitty-wtf nu -l -e wtf

[Install]
WantedBy=graphical-session.target
