[Unit]
Description=Hyprland autostart: Trivalent
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- trivalent

[Install]
WantedBy=graphical-session.target
