[Unit]
Description=Hyprland autostart: Trivalent
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hyprctl dispatch exec "[workspace 1 silent] uwsm app -- trivalent"

[Install]
WantedBy=graphical-session.target
