[Unit]
Description=Hyprland autostart: Discord
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- flatpak run com.discordapp.Discord

[Install]
WantedBy=graphical-session.target
