[Unit]
Description=Hyprland autostart: Kite
PartOf=graphical-session.target
Wants=caelestia-shell.service
After=caelestia-shell.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hyprctl dispatch exec "[workspace 2 silent] uwsm app -- kitty kite"

[Install]
WantedBy=graphical-session.target
