{{- $interactive := stdinIsATTY -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $name := "Celeste Peláez" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "celeste@etheryal.net" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $signingkey := "" -}}
{{- if hasKey . "signingkey" -}}
{{-   $signingkey = .signingkey -}}
{{- else if $interactive -}}
{{-   $signingkey = promptString "signingkey" $signingkey -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  signingkey: {{ $signingkey | quote }}