{{- $interactive := stdinIsATTY -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $name := "Celeste Peláez" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptStringOnce . "name" "What is your name?" $name -}}
{{- end -}}

{{- $email := "celeste@etheryal.net" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptStringOnce . "email" "What is your email address?" $email -}}
{{- end -}}

{{- $signingkey := "" -}}
{{- if hasKey . "signingkey" -}}
{{-   $signingkey = .signingkey -}}
{{- else if $interactive -}}
{{-   $signingkey = promptStringOnce . "signingkey" "What's your GPG signing key? (leave blank to skip)" $signingkey -}}
{{- end -}}

{{- $accessToken := "" -}}
{{- if hasKey . "accessToken" -}}
{{-   $accessToken = .accessToken -}}
{{- else if $interactive -}}
{{-   $accessToken = promptStringOnce . "accessToken" "What's your BitWarden Secrets access token? (leave blank to skip)" $accessToken -}}
{{- end -}}

{{- $path := "" -}}
{{- if hasKey . "path" -}}
{{-   $path = .path -}}
{{- else if $interactive -}}
{{-   $path = promptStringOnce . "path" "Do you want to customize your PATH environment variable? (leave blank to skip)" $path -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
signingkey = {{ $signingkey | quote }}
accessToken = {{ $accessToken | quote }}
path = {{ $path | quote }}
