local config_dir = "/home/celeste/.config/hypr/hyprland"

for _, module in ipairs({
	"startup",
	"monitors",
	"settings",
	"animations",
	"bindings",
	"rules",
	"permissions",
	"workspaces",
}) do
	dofile(config_dir .. "/" .. module .. ".lua")
end
